* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel-cell {
  width: 100%;  
  height: 400px;   
  margin-right: 10px;
  background-size: cover;
  position: relative;
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.flickity-page-dots {
  bottom: -40px;
}

.button {
  font-size: 22px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0px;
  border-radius: 12px;
  color: white;
  background-color: rgb(227, 76, 38);
  cursor: pointer;
}
