* { box-sizing: border-box; }

.carousel-cell {
  width: 100%;  
  height: 400px;   
  margin-right: 10px;
  background-size: cover;
  position: relative;
}



.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.flickity-page-dots {
  bottom: -40px;
}

.button {
  font-size: 22px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.button-group {
  margin-bottom: 20px;
}

 /* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}